<md-card flex class="{{item.user.userTitleDisplay}} {{item.user.profileThemeName}} locale-{{item.user.locale}}" 
	ng-repeat="item in dataClan | orderBy:sortOrderChoice:sortReverse">
	<md-item-content layout="row" layout-sm="column" class="row-{{item.membershipId}} player-row">
		<div>
			<img class="avatar" style="width:100px;height:100px;position:relative; z-index:1;" src="" ng-src="{{item.user.profilePicturePath}}" alt="{{item.user.displayName}} avatar">
			<b style="color:white; position: absolute; bottom:0; right:0; z-index:2;">{{item.user.name}}</b>
		</div>
		<ul flex class="names">
			<!-- <li ng-class="{'probie':hasPendingApplication}"> -->
				<!-- <b>{{item.user.name}}</b> -->
				<!-- <b>{{item.user.displayName}}</b> -->
				<!-- <b>{{item.user.psnDisplayName}}</b> -->
				<!-- <b>{{item.user.fbDisplayName}}</b> -->
			<!-- </li> -->
			<li>
				<big>{{item.user.xboxDisplayName}}</big>
			</li>
			<li class="small">
				<span class="label left">id</span>
				<b>{{item.membershipId}}</b>
			</li>
		<!-- </ul> -->
		<!-- <ul flex class="dates"> -->
			<li class="small">
				<span class="label">member since</span>
				<b>{{item.approvalDatePretty}}</b>
			</li>
			<!-- <li class="small">
				<span class="label">first accessed</span>
				<b>{{item.user.firstAccessPretty}}</b>
			</li> -->
			<!-- <li class="small">
				<span class="label">last updated</span>
				<b>{{item.user.lastUpdatePretty}}</b>
			</li> -->
		</ul>
			<!-- <md-button class="md-accent github" href="https://www.github.com/{{item.user.github}}" target="_blank">GitHub</md-button> -->
			<!-- <md-button class="md-accent bungie" href="{{item.user.bungie}}" target="_blank">Bungie</md-button> -->
		<div style="padding:1em;">
			<md-button class="md-primary md-raised" href="#/{{item.user.api}}">Player Details</md-button>
		</div>
	</md-item-content>
</md-card>
