<div>
	<d-sorting options="clan"> sorting </d-sorting>
	<!-- <fieldset> -->
		<!-- <input type="text" ng-model="itemUserFilter.$" placeholder="any"> -->
		<!-- <input type="text" ng-model="itemUserFilter.user" placeholder="user"> -->
	<!-- </fieldset> -->
	<md-card class="" ng-repeat="item in dataClan | orderBy:sortOrderChoice:sortReverse">
		<md-card-content>
			<md-item class="{{item.user.userTitleDisplay}} {{item.user.profileThemeName}} locale-{{item.user.locale}}">
				<md-item-content class="row-{{item.membershipId}} player-row"layout="row" layout-align="start center" layout-sm="column" layout-align-sm="start center">
					<div layout="row" layout-align="start center" layout-sm="row" layout-align-sm="start center" style="width:100%;">
						<div class="avatarBox">
							<img class="avatar" src="" ng-src="http://www.bungie.net/{{item.user.profilePicturePath}}" alt="{{item.user.displayName}} avatar">
							<!-- <b class="name" style="">{{item.user.name}}</b> -->
						</div>
						<div class="handleBox" flex>
							<ul flex class="names">
								<li class="name" ng-class="{'probie':hasPendingApplication}">
									<b>{{item.user.name}}</b>
									<!-- <b>{{item.user.displayName}}</b> -->
									<!-- <b>{{item.user.psnDisplayName}}</b> -->
									<!-- <b>{{item.user.fbDisplayName}}</b> -->
								</li>
								<li class="handle">
									<a href="#/{{item.user.api}}"><big>{{item.user.xboxDisplayName}}</big></a>
									<!-- <span class="flaticon-airplane106"></span>  -->
								</li>
								<li class="small">
									<span class="label left">id</span>
									<b>{{item.membershipId}}</b>
								</li>
								<!-- <li class="small">
									<span class="label left">first accessed</span>
									<b>{{item.user.firstAccessPretty}}</b>
								</li> -->
								<li class="small">
									<span class="label left">since</span>
									<b>{{item.approvalDatePretty}}</b>
								</li>
								<!-- <li class="small">
									<span class="label left">updated</span>
									<b>{{item.user.lastUpdatePretty}}</b>
								</li> -->
								<li class="small">
									<span class="label left">github</span>
									<b><a class="" href="https://www.github.com/{{item.user.github}}" target="_blank">{{item.user.github}}</a></b>
								</li>
								<!-- <li class="small">
									<span class="label left">bungie</span>
									<b><a class="bungie" href="{{item.user.bungie}}" target="_blank">{{item.user.bungie}}</a></b>
								</li> -->
							</ul>
						</div>
					</div>
					<!-- <div ng-include="'views/includes/box-deets.html'"></div> -->
					<div class="medalsBox" style="" ng-include="'views/includes/box-medals.html'"></div>
					<!-- <div ng-include="'views/includes/box-actions.html'"></div> -->
				</md-item-content>
			</md-item>
		</md-card-content>
	</md-card>
</div>