<md-sidenav class="md-sidenav-{{direction}}" md-component-id="settings" md-is-open="sidenavOpen">
	<md-toolbar class="" layout="row" layout-align="center center">
		<h1 flex class="md-toolbar-tools">Settings</h1>
	</md-toolbar>
	<md-content class="" layout="column">
		<md-list layout="column">
			<!-- <h3>settings</h3> -->
			<md-item ng-repeat="item in settingsItems | orderBy : orderNav : reverseNav">
				<md-button aria-label="{{item.name}}" class="md-primary" ng-disabled="true" ng-click="toggleLeft()" href="#/{{item.path}}">
					<span class="{{item.icon}}"></span>
					{{item.name}}
				</md-button>
			</md-item>
		</md-list>
	</md-content>
</md-sidenav>