<md-sidenav class="md-sidenav-left" md-component-id="left">
	<md-toolbar class="" layout="row" layout-align="center center">
		<h1 flex class="md-toolbar-tools">Menu</h1>
		<!-- <md-button ng-click="toggleLeft()" class="md-fab md-primary close closeLeft" aria-label="toggle">
			<span class="icon icon-arrow-left"></span>
		</md-button> -->
	</md-toolbar>
	<md-content class="md-padding" layout="column">
	<!-- <dl><dt>menuItems</dt><dd>{{menuItems}}</dd></dl> -->
		<!-- <md-list layout="column"> -->
			<md-button aria-label="{{item.name}}" class="md-primary" ng-repeat="item in menuItems | filter : menuItems[$index].show : true | orderBy : menuItems[$index].order : false" ng-click="toggleLeft()" href="#/{{item.path}}">
				<span class="{{item.icon}}"></span>
				{{item.name}} (#{{item.order}}, {{item.show}})
			</md-button>
			<!-- <md-item ng-repeat="item in menuItems | filter:menuItems.show">
				<p class="" ng-click="toggleLeft()" href="#/{{item.path}}"><span class="icon icon-{{item.icon}}"></span>{{item.name}}</p>
			</md-item> -->
		</md-list>
	</md-content>
</md-sidenav>