<md-sidenav class="md-sidenav-left" md-component-id="left">
	<md-toolbar class="" layout="row" layout-align="center center">
		<h1 flex class="md-toolbar-tools">Menu</h1>
		<!-- <md-button ng-click="toggleLeft()" class="md-fab md-primary close closeLeft" aria-label="toggle">
			<span class="icon icon-arrow-left"></span>
		</md-button> -->
	</md-toolbar>
	<md-content class="md-padding" layout="column">
		<!-- <md-list layout="column"> -->
			<md-button aria-label="{{item.name}}" class="md-primary" ng-repeat="item in menuItems | filter:menuItems.show | orderBy:menuItems.order" ng-click="toggleLeft()" href="#/{{item.path}}">
				<span class="icon icon-{{item.icon}}"></span>
				{{item.name}} ({{item.order}})
			</md-button>
			<!-- <md-item ng-repeat="item in menuItems | filter:menuItems.show">
				<p class="" ng-click="toggleLeft()" href="#/{{item.path}}"><span class="icon icon-{{item.icon}}"></span>{{item.name}}</p>
			</md-item> -->
		</md-list>
	</md-content>
</md-sidenav>