<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">
	<h1>Member: {{member}}</h1>
	<h3>{{details.clanName}} ({{details.clanTag}})</h3>
	<!-- <h2>details:</h2> -->
	<!-- <table>
		<tr ng-repeat="(key,value) in details">
			<th>{{key}}</th>
			<td>{{value}}</td>
		</tr>
	</table> -->
	<table>
		<thead>
			<tr>
				<th>Character</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody ng-repeat="character in details.characters">
			<tr>
				<td><hr></td>
				<td><hr></td>
			</tr>
			<tr>
				<th>
					<img ng-src="{{getCharImgPath(character.emblemPath)}}" /><br>
					<dl>
						<dt>race</dt>
							<dd>{{character.characterBase.raceHash}}</dd>
						<dt>gender</dt>
							<dd>{{character.characterBase.genderHash}}</dd>
						<dt>class</dt>
							<dd>{{character.characterBase.classHash}}</dd>
						<dt>emblem</dt>
							<dd>{{character.emblemHash}}</dd>
					</dl>
				<td>
					<img ng-src="{{getCharImgPath(character.backgroundPath)}}" /><br>
					<dl>
						<dt>Level</dt>
							<dd>{{character.characterLevel}}</dd>
						<dt>Base Level</dt>
							<dd>{{character.baseCharacterLevel}}</dd>
						<dt>Prestige Level</dt>
							<dd>{{character.isPrestigeLevel}}</dd>
						<dt>To Next Level</dt>
							<dd>{{character.percentToNextLevel}}%</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<th>Character Base</th>
				<td>
<script type="text/ng-template" id="repeater.html">
<ng-switch on="key">
	<ul ng-switch-when="stats">{{key}}
		<li ng-repeat="(key,value) in character.characterBase.stats">
			<ul>{{key}}
				<li ng-repeat="(key,value) in value" ng-include="'repeater.html'"></li>
			</ul>
		</li>
	</ul>
	<ul ng-switch-when="peerView">{{key}}
		<li ng-repeat="(key,value) in character.characterBase.peerView">
			<ul>child: {{key}}
				<li ng-repeat="(key,value) in value">
					<ul>grand-child: {{key}}:
						<li ng-repeat="(key,value) in value" ng-include="'repeater.html'">
					<ul>great-grand-child: {{key}}:
						<li ng-repeat="(key,value) in value" ng-include="'repeater.html'">
					<ul>great-great-grand-child: {{key}}: <b>{{value}}</b>
						<li ng-repeat="(key,value) in value" ng-include="'repeater.html'"></li>
					</ul>
						</li>
					</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul ng-switch-when="customization">{{key}}
		<li ng-repeat="(key,value) in character.characterBase.customization" ng-include="'repeater.html'">{{key}}: <b>{{value}}</b></li>
	</ul>
	<ul ng-switch-default>
		<li>{{key}}: <b>{{value}}</b></li>
	</ul>
<ng-switch>
</script>
					<ul>
						<li ng-repeat="(key,value) in character.characterBase" ng-include="'repeater.html'">
							<!-- <ul>
								<li ng-repeat="(key, value) in value"><i>child:</i> {{key}}:  <b>{{value}}</b>
							<ul>
								<li ng-repeat="(key, value) in value"><i>grandchild:</i> {{key}}:  <b>{{value}}</b>
							<ul>
								<li ng-repeat="(key, value) in value"><i>great-grandchild:</i> {{key}}:  <b>{{value}}</b>
								</li>
							</ul>
								</li>
							</ul>
								</li>
							</ul> -->
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<th>Level Progression</th>
				<td>
					<ul>
						<li ng-repeat="(key, value) in character.levelProgression">{{key}}:  <b>{{value}}</b></li>
					</ul>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><hr></td>
				<td><hr></td>
			</tr>
		</tfoot>
	</table>
</md-content>
</article>