<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">
	<h1>Member: {{member}}</h1>
	<h3>{{details.clanName}} ({{details.clanTag}})</h3>
	<!-- <h2>details:</h2> -->
	<!-- <table>
		<tr ng-repeat="(key,value) in details">
			<th>{{key}}</th>
			<td>{{value}}</td>
		</tr>
	</table> -->
	<table>
		<thead>
			<tr>
				<th>Characters</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody ng-repeat="character in details.characters">
			<tr>
				<td><hr></td>
				<td><hr></td>
			</tr>
			<tr>
				<th>
					<img ng-src="{{getCharImgPath(character.emblemPath)}}" /><br>
					<dl>
						<dt>race: <dd>{{character.characterBase.raceHash}}</dd></dt>
						<dt>gender: <dd>{{character.characterBase.genderHash}}</dd></dt>
						<dt>class: <dd>{{character.characterBase.classHash}}</dd></dt>
						<dt>emblem: <dd>{{character.emblemHash}}</dd></dt>
					</dl>
				<td>
					<img ng-src="{{getCharImgPath(character.backgroundPath)}}" /><br>
					<dl>
						<dt>Level: <dd>{{character.characterLevel}}</dd></dt>
						<dt>Base Level: <dd>{{character.baseCharacterLevel}}</dd></dt>
						<dt>Prestige Level: <dd>{{character.isPrestigeLevel}}</dd></dt>
						<dt>To Next Level: <dd>{{character.percentToNextLevel}}%</dd></dt>
					</dl>
				</td>
			</tr>
			<tr>
				<th>Character Base</th>
				<td>
					<dl ng-repeat="(key, value) in character.characterBase"><dt>{{key}}:  <dd>{{value}}</dd></dt></dl>
				</td>
			</tr>
			<tr>
				<th>Level Progression</th>
				<td>
					<dl ng-repeat="(key, value) in character.levelProgression"><dt>{{key}}:  <dd>{{value}}</dd></dt></dl>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><hr></td>
				<td><hr></td>
			</tr>
		</tfoot>
	</table>
</md-content>
</article>