<div layout="row" flex>
	<div class="emblemBox">
		<img class="emblem" ng-src="{{getCharImgPath(character.emblemPath)}}" border="0" />
	</div>
	<div class="nameBox" flex>
		<h2>
			<span class="label">classHash</span>
			<span>{{character.characterBase.classHash}}</span>
		</h2>
		<span class="label">raceHash</span>
		<span>{{character.characterBase.raceHash}}</span>
		<span class="label">genderHash</span>
		<span>{{character.characterBase.genderHash}}</span>
	</div>
	<div class="levelBox">
		<h1 class="level" ng-class="{'prestige':character.isPrestigeLevel}">
			<!-- <span class="flaticon flaticon-rate normal" aria-label="Character Level" ng-show="character.isPrestigeLevel"></span> -->
			<span class="label">characterLevel</span>
			<span>{{character.characterLevel}}</span>
		</h1>
		<!-- <hr> -->
		<h4 class="grimoire">
			<!-- <span class="flaticon flaticon-copy31 normal" aria-label="Grimoire"></span> -->
			<span class="label">grimoireScore</span>
			<span>{{details.grimoireScore}}</span>
		</h4>
	</div>
</div>
<div layout="row">
	<div class="progressBox" colspan="3">
		<div class="progressBar">
			<div class="progressIndicator" style="width:{{character.percentToNextLevel}}%;"></div>
			<span class="label">percentToNextLevel</span>
			<span class="label right">{{character.percentToNextLevel}}%</span>
		</div>
	</div>
</div>
