<md-sidenav class="md-sidenav-{{direction}}" md-component-id="settings" md-is-open="sidenavOpen">
	<md-toolbar class="" layout="row" layout-align="center center">

		<md-button aria-label="{{headerSettings.name}}" class="right" ng-disabled="false" ng-click="toggleNav('settings','right')">
			<span class="{{headerSettings.icon}}"></span>Settings
		</md-button>

	</md-toolbar>
	<md-content class="" layout="column">
		<md-list layout="column">
			<!-- <h3>settings</h3> -->
			<md-item ng-repeat="item in settingsItems | orderBy : orderNav : reverseNav">
				<md-button aria-label="{{item.name}}" class="md-primary" ng-disabled="{{!item.enable}}" ng-click="toggleNav('settings',direction)" href="#/{{item.path}}">
					<span class="{{item.icon}}"></span>
					{{item.name}}
				</md-button>
			</md-item>
		</md-list>
	</md-content>
</md-sidenav>