<md-sidenav class="md-sidenav-{{direction}}" md-component-id="menu" md-is-open="sidenavOpen">
	<md-toolbar class="" layout="row" layout-align="center center">

		<md-button aria-label="{{headerMenu.name}}" class="left" ng-disabled="false" ng-click="toggleNav('menu','left')">
			<span class="{{headerMenu.icon}}"></span>Menu
		</md-button>

	</md-toolbar>
	<md-content class="" layout="column">
		<md-list layout="column">
			<!-- <h3>menu</h3> -->
			<md-item ng-repeat="item in menuItems | filter : filterEnable | orderBy : orderNav : reverseNav">
				<md-button aria-label="{{item.name}}" class="md-accent md-hue-2" ng-disabled="{{!item.enable}}" ng-click="toggleNav('menu',direction)"href="#/{{item.path}}">
					<span class="{{item.icon}}"></span>
					{{item.name}}
				</md-button>
			</md-item>
		</md-list>
	</md-content>
</md-sidenav>