<ng-switch on="key">
	<ul ng-switch-when="stats">{{key}}
		<li ng-repeat="(key,value) in character.characterBase.stats">
			<ul>{{key}}
				<li ng-repeat="(key,value) in value" ng-include="'views/includes/repeater-ul.html'"></li>
			</ul>
		</li>
	</ul>
	<ul ng-switch-when="peerView">{{key}}
		<li ng-repeat="(key,value) in character.characterBase.peerView">
			<ul>{{key}}
				<li ng-repeat="(key,value) in value">
					<ul>{{key}}:
						<li ng-repeat="(key,value) in value">
						<ng-switch on="key">
							<ul ng-switch-when="dyes">{{key}}:
								<li ng-repeat="(key,value) in value">
									<ul>{{key}}:
										<li ng-repeat="(key,value) in value" ng-include="'views/includes/repeater-ul.html'"></li>
									</ul>
								</li>
							</ul>
							<ul ng-switch-default>{{key}}: <b>{{value}}</b>
								<li ng-repeat="(key,value) in value" ng-include="'views/includes/repeater-ul.html'"></li>
							</ul>
						</ng-switch>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul ng-switch-when="customization">{{key}}
		<li ng-repeat="(key,value) in character.characterBase.customization" ng-include="'views/includes/repeater-ul.html'">{{key}}: <b>{{value}}</b></li>
	</ul>
	<ul ng-switch-default>
		<li>{{key}}: <b>{{value}}</b></li>
	</ul>
<ng-switch>