<article class="{{ctitle}} bg-destiny classes-banners">
<md-content class="">

	<!-- <h1><span class="flaticon {{meta.icon}}"></span>{{title}}</h1> -->

	<md-card>
		<!-- <img src="img/destiny/destiny-banners-classes.png" alt="Destiny Classes" width="100%"> -->
		<md-card-content>
			<dl>
				<dt>{{constClan.title.plain}}</dt>
				<dd>{{constClan.description}}, since {{constClan.since}}
				</dd>
				<dt>Created by</dt>
				<dd>{{constClan.crew}}</dd>
			</dl>
		</md-card-content>
	</md-card>
	<md-card>
		<!-- <img src="img/destiny/destiny-banners-classes.png" alt="Destiny Classes" width="100%"> -->
		<md-card-content>

			<h2>Destiny</h2>
			<p>This site begins as a way for friends to track and compare progress in Bungie's Destiny...</p>
			<ul>
				<li><a href="http://www.bungie.net">Bungie.net</a></li>
				<li><a href="http://www.destinythegame.com">Destiny</a></li>
			</ul>

			<h3>API Test</h3>
			<p>Test getting data through PHP from Bungie...</p>
			<dl ng-controller="cClan">
				<dt>Clan</dt>
				<dd>
				<ul>
				<li><a href="api/clan.php">Static</a></li>
				</ul>
				</dd>
			</dl>
			<dl ng-controller="cClan">
				<dt>Bungie account</dt>
				<dd>
				<ul>
				<li><a href="api/jeff-bungie.php">Jeff, Static</a></li>
				<li><a href="api/member-bungie.php">Dynamic</a></li>
				</ul>
				</dd>
			</dl>
			<dl ng-controller="cClan">
				<dt>Destiny account</dt>
				<dd>
				<ul>
				<li><a href="api/api.php">Version 1, Static</a></li>
				<li><a href="api/api2.php">Version 2, Static</a></li>
				<li><a href="api/kras-destiny.php">Kras, Static</a></li>
				<li><a href="api/jeff-destiny.php">Jeff, Static</a></li>
				<li><a href="api/tanner-destiny.php">Tanner, Static</a></li>
				<li><a href="api/john-destiny.php">John, Static</a></li>
				<li><a href="api/kaleb-destiny.php">Kaleb, Static</a></li>
				<li><a href="api/vikas-destiny.php">Vikas, Static</a></li>
				<li><a href="api/member-destiny.php">Dynamic</a></li>
				</ul>
				</dd>
			</dl>
			<dl ng-controller="cClan">
				<dt>Item hash</dt>
				<dd>
				<ul>
				<li><a href="api/regime-hash.php">SUROS Regime, Static</a></li>
				<li><a href="api/item-hash.php">Dynamic</a></li>
				</ul>
				</dd>
			</dl>
			<dl ng-controller="cClan">
				<dt>Activity</dt>
				<dd>
				<ul>
				<li><a href="api/jeff-activity.php">Jeff / Warlock / Story, Static</a></li>
				<li><a href="api/activity.php">Dynamic</a></li>
				</ul>
				</dd>
			</dl>

		</md-card-content>
	</md-card>
	<md-card>
		<!-- <img src="img/destiny/destiny-banners-classes.png" alt="Destiny Classes" width="100%"> -->
		<md-card-content>

			<h2>Custom Directives</h2>
			<p>Custom AngularJS directives for extending functionality...</p>

			<h3>Sorting</h3>
		  	<p>Sorting directive demo</p>
			<!-- <d-sorting options="stuff">Sorting directive</d-sorting> -->

			<h3>Comparing</h3>
		  	<p>Comparing directive demo</p>
			<!-- <d-comparing options="stuff">Comparing directive</d-comparing> -->

			<h3>Material Design Demos</h3>
			<p><a href="#/test">Test page</a></p>

		</md-card-content>
	</md-card>
</md-content>
</article>
