<article class="{{ctitle}} bg-destiny classes-banners">
<md-content class="">

	<!-- <h1><span class="flaticon {{meta.icon}}"></span>{{title}}</h1> -->

	<md-card>
		<!-- <img src="img/destiny/destiny-banners-classes.png" alt="Destiny Classes" width="100%"> -->
		<md-card-content>
			<dl>
				<dt>{{constClan.title.plain}}</dt>
				<dd>{{constClan.description}}, since {{constClan.since}}
				</dd>
				<dt>Created by</dt>
				<dd>{{constClan.crew}}</dd>
			</dl>
		</md-card-content>
	</md-card>
	<md-card>
		<!-- <img src="img/destiny/destiny-banners-classes.png" alt="Destiny Classes" width="100%"> -->
		<md-card-content>

			<h2>Destiny</h2>
			<p>This site begins as a way for friends to track and compare progress in Bungie's Destiny...</p>
			<ul>
				<li><a href="http://www.bungie.net">Bungie.net</a></li>
				<li><a href="http://www.destinythegame.com">Destiny</a></li>
			</ul>

			<h3>API Test</h3>
			<p>Test getting data through PHP from Bungie...</p>
			<ul>
				<li><a href="data/api.php">API</a></li>
				<li><a href="data/api2.php">API2</a></li>
			</ul>

		</md-card-content>
	</md-card>
	<md-card>
		<!-- <img src="img/destiny/destiny-banners-classes.png" alt="Destiny Classes" width="100%"> -->
		<md-card-content>

			<h2>Custom Directives</h2>
			<p>Custom AngularJS directives for extending functionality...</p>

			<h3>Sorting</h3>
		  	<p>Sorting directive demo</p>
			<!-- <d-sorting options="stuff">Sorting directive</d-sorting> -->

			<h3>Comparing</h3>
		  	<p>Comparing directive demo</p>
			<!-- <d-comparing options="stuff">Comparing directive</d-comparing> -->

			<h3>Material Design Demos</h3>
			<p><a href="#/test">Test page</a></p>

		</md-card-content>
	</md-card>
</md-content>
</article>
