<article>
	<h2>Feedback</h2>
	<form action="">
		<fieldset>
			<label for="added">What should be added?</label>
			<input name="added" type="text">
		</fieldset>
		<fieldset>
			<label for="removed">What should be removed?</label>
			<input name="removed" type="text">
		</fieldset>
		<fieldset>
			<label for="changed">What should be changed?</label>
			<input name="changed" type="text">
		</fieldset>
		<fieldset>
			<input name="submit" type="submit" disabled>
			<input name="reset" type="reset" disabled>
		</fieldset>
	</form>
</article>
