<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">
	<h1>{{title}}</h1>
	<table class="sorting" ng-model="sortClass">
		<tr>
		<th>Sort by:</th>
		<!-- <td class="{{sortClass.name}}" ng-click="myMemberOrder = 'name'; reverse=!reverse">Name</td> -->
		<td class="{{sortClass.name}}" ng-click="sortOrderToggle('name')">Name</td>
		<td class="{{sortClass.handle}}" ng-click="sortOrderToggle('handle')">Handle</td>
		<td class="{{sortClass.id}}" ng-click="sortOrderToggle('id')">ID</td>
		<th ng-click="sortOrderToggle('all')">Clear</th>
		</tr>
	</table>
	<ul>
		<li ng-repeat="item in DataGames | orderBy:sortOrder:reverse">
			<span class="label">Name:</span><span>{{item.nameDisplay}}</span>
			<a href="#/games/{{item.api}}">Details</a>
			<ul>
				<li><span class="label">Type:</span><span ng-repeat="type in item.type">{{type}}</span></li>
				<li><span class="label">Publisher:</span><span>{{item.publisher}}</span></li>
				<li><span class="label">Developer:</span><span>{{item.developer}}</span></li>
				<li><span class="label">Link:</span><span class="link outbound"><a href="{{item.url}}" target="_blank">{{item.url}}</a></span></li>
			</ul>
		</li>
	</ul>
</md-content>
</article>