<article>
	<h1>Home</h1>
	<p class="helper">Main content goes here</p>

	<h2>Test</h2>
	<ul>
		<li><a href="api.php">API</a></li>
		<li><a href="api2.php">API2</a></li>
	</ul>

	<h2>Destiny</h2>
	<p>This page is site begins as a way for friends to track and compare progress in Bungie's Destiny...</p>
	<h2>Clan</h2>
	<ul>
		<li><a href="">Strike Your Way Raiders</a></li>
	</ul>
	<h2>Clan Members</h2>
	<ul>
		<li><a href="members/jeff.php">Jeff</a></li>
		<li><a href="members/john.php">John</a></li>
		<li><a href="members/kras.php">Kras</a></li>
		<li><a href="members/tanner.php">Tanner</a></li>
	</ul>
</article>
