<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">

	<h1><span class="flaticon {{meta.icon}}"></span>{{title}}</h1>

	<md-card>
		<md-card-content>
			<h2>Clan Info</h2>
			<ul>
				<li>Details</li>
			</ul>
		</md-card-content>
	</md-card>

	<div layout="row">

		<md-card flex>
			<md-card-content>
				<h2>Display</h2>
				<ul>
					<li>Players</li>
					<li>Characters</li>
					<li>Activities</li>
					<li>Inventory</li>
				</ul>
			</md-card-content>
		</md-card>

		<md-card flex>
			<md-card-content>
				<h2>Compare</h2>
				<ul>
					<li>Players</li>
					<li>Characters</li>
					<li>Activities</li>
					<li>Inventory</li>
				</ul>
			</md-card-content>
		</md-card>

	</div>

</md-content>
</article>
