<article class="{{ctitle}} bg-destiny" ng-controller="cSorting">
<md-content class="" ng-controller="cClan">

	<div layout="column" class="" style="text-align:center; padding:1em;">
		<span>a</span>
		<img ng-src="{{constLogo.destiny.path}}{{constLogo.destiny.hz.bk}}" alt="{{constLogo.destiny.alt}}" class="" style="width:200px; margin:0 auto;">
		<span>clan</span>
	</div>

	<!-- START ABOUT THE PLAYERS -->
	<md-card class="infoBoxClan">
		<!-- <img src="img/destiny/destiny-conceptart-characters-classes.jpg" alt="Destiny Character Classes" width="100%"> -->
		<md-card-content>
			<div ng-controller="cClan" layout="row" layout-sm="column" layout-align="center center">
				<!-- <h3 flex>{{constClan.title.plain}}</h3> -->
				<ul layout="row">
					<li>
						<span class="label small">platform</span>
						<span>{{constClan.console}}</span>
					</li>
					<li>
						<span class="label small">ID</span>
						<span>{{constClan.id}}</span>
					</li>
					<li>
						<span class="label small">link</span>
						<span><a href="{{myClanUrl}}" target="_blank">{{constClan.title.abbr}}</a></span>
					</li>
				</ul>
			</div>
		</md-card-content>
	</md-card>

	<md-divider></md-divider>

	<div ng-include="'tmpl/t-players-list-complex.html'"></div>

	<md-divider></md-divider>

	<div ng-include="'tmpl/t-players-list-simple.html'"></div>

	<md-divider></md-divider>

	<div layout="row">
		<md-card flex>
			<md-card-content>
				<h2>Display</h2>
				<ul>
					<li>Players</li>
					<li>Characters</li>
					<li>Activities</li>
					<li>Inventory</li>
				</ul>
			</md-card-content>
		</md-card>

		<md-card flex>
			<md-card-content>
				<h2>Compare</h2>
				<ul>
					<li>Players</li>
					<li>Characters</li>
					<li>Activities</li>
					<li>Inventory</li>
				</ul>
			</md-card-content>
		</md-card>
	</div>

</md-content>
</article>
