<!-- Display one character -->
<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">

<h2>Player Config</h2>

<p>Choose load out using the touch carousels for weapons and armor.</p>

<h3>Gear</h3>

<p>Lorem ipsum dolor sicatte...</p>

<div layout="row">
	<div layout="column" class="weapons">
		<ul class="subclass">
			<li ng-repeat="item in subclassArr"></li>
		</ul>
		<ul class="primary">
			<li ng-repeat="item in primaryArr"></li>
		</ul>
		<ul class="special">
			<li ng-repeat="item in specialArr"></li>
		</ul>
		<ul class="heavy">
			<li ng-repeat="item in heavyArr"></li>
		</ul>
		<ul class="more">
			<li ng-repeat="item in moreArr"></li>
		</ul>
	</div>
	<div layout="column" class="armor">
		<ul class="head">
			<li ng-repeat="item in headArr"></li>
		</ul>
		<ul class="arms">
			<li ng-repeat="item in armsArr"></li>
		</ul>
		<ul class="body">
			<li ng-repeat="item in bodyArr"></li>
		</ul>
		<ul class="legs">
			<li ng-repeat="item in legsArr"></li>
		</ul>
		<ul class="classitem">
			<li ng-repeat="item in classitemArr"></li>
		</ul>
	</div>
</div>

<h3>Inventory</h3>

<p>Lorem ipsum dolor sicatte...</p>


</md-content>
</article>
