<article>
	<h1>{{title}}</h1>
	<!-- <d-sorting>test</d-sorting> -->
	<!-- <d-sorting options="['name','handle','id']"></d-sorting> -->
	<table class="sorting" ng-model="sortClass">
		<tr>
		<th>Sort by:</th>
		<!-- <td class="{{sortClass.name}}" ng-click="myMemberOrder = 'name'; reverse=!reverse">Name</td> -->
		<td class="{{sortClass.name}}" ng-click="sortOrderToggle('name')">Name</td>
		<td class="{{sortClass.handle}}" ng-click="sortOrderToggle('handle')">Handle</td>
		<td class="{{sortClass.id}}" ng-click="sortOrderToggle('id')">ID</td>
		<th ng-click="sortOrderToggle('all')">Clear</th>
		</tr>
	</table>
	<ul>
		<li ng-repeat="item in myMemberData | orderBy:sortOrder:reverse">
			<span class="label">Name:</span><span>{{item.name}}</span>
			<a href="#/members/{{item.api}}">Details</a>
			<ul>
				<li><span class="label">API:</span><span><a href="data/{{item.api}}.php" target="_blank">{{item.api}}</a></span></li>
				<li><span class="label">Handle:</span><span>{{item.handle}}</span></li>
				<li><span class="label">Account ID:</span><span>({{item.id}})</span></li>
				<li><span class="label">Profile Link:</span><span class="link outbound"><a href="{{item.url}}" target="_blank">{{item.url}}</a></span></li>
			</ul>
		</li>
	</ul>
</article>