<article class="{{ctitle}} bg-destiny">

  <md-toolbar md-scroll-shrink class="md-padding md-primary md-hue-2">
    <h2 class="md-toolbar-tools">
      <span>{{title}}</span>
    </h2>
  </md-toolbar>

  <md-content class="md-padding">

    <md-content style="height: 600px;">

  <md-toolbar md-scroll-shrink class="md-padding md-primary md-hue-2">
    <h2 class="md-toolbar-tools">
      <span>{{title}}</span>
    </h2>
  </md-toolbar>

    <h2>Material Design List</h2>
    <p>Testing various directives, themes, options...</p>

      <md-list>
    	<md-subheader>To Do List</md-subheader>
        <md-item ng-repeat="item in todos">
          <md-item-content>
            <div class="md-tile-left">
  			<md-switch ng-model="item.done" aria-label="Status">
  				{{item.done}}
  			</md-switch>
            	<!-- img url:  {{item.face}} -->
              <!-- <img ng-src="{{item.face}}" alt="{{item.who}}" class="face"> -->
            </div>
            <div class="md-tile-content">
              <h3>{{item.what}}</h3>
              <h4>{{item.who}}</h4>
              <p>
                {{item.notes}}
              </p>
            </div>
          </md-item-content>
          <md-divider inset></md-divider>
        </md-item>
      </md-list>
    	<md-subheader>Input, Color</md-subheader>
    	<md-input-container>
    	  <label>Color</label>
    	  <input type="text" ng-model="color" required md-maxlength="10">
    	</md-input-container>
    </md-content>

    <md-card md-theme="default">
    <md-card-content>
    <md-subheader>Buttons</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button>Button</md-button>
      <md-button class="md-primary">Primary</md-button>
      <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
      <md-button ng-disabled="true" class="md-primary">Primary (Disabled)</md-button>
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="default">
    <md-card-content>
    <md-subheader>Buttons, Raised</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised">Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
      <!-- <div class="label">Raised</div> -->
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="default">
    <md-card-content>
    <md-subheader>Buttons, Images</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-fab" aria-label="Carnage_Zone.png">
        <md-icon icon="lib/brands/bungie/iconography/Carnage_Zone.png" style="width: 44px; height: 44px;"></md-icon>
      </md-button>
      <md-button class="md-fab md-primary" aria-label="Septagon.png">
        <md-icon icon="lib/brands/bungie/iconography/Septagon.png" style=""></md-icon>
      </md-button>
      <md-button class="md-fab md-accent" aria-label="Shield_Crest.png">
        <md-icon icon="lib/brands/bungie/iconography/Shield_Crest.png" style=""></md-icon>
      </md-button>
      <md-button class="md-fab md-warn" aria-label="Swordburst_Crest.png">
        <md-icon icon="lib/brands/bungie/iconography/Swordburst_Crest.png" style=""></md-icon>
      </md-button>
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="default">
    <md-card-content>
    <md-subheader>Buttons, Text</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button>More Info</md-button>
      <md-button>Cancel</md-button>
      <md-button>RSVP</md-button>
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="default">
    <md-card-content>
    <md-subheader>Buttons, Themed (Default)</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="">None</md-button>
      <md-button class="md-primary">Primary</md-button>
      <md-button class="md-accent">Accent</md-button>
      <md-button class="md-warn">Warn</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      Raised:
      <md-button class="md-raised ">None</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button class="md-raised md-accent">Accent</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      Hue 2: <md-button class="md-raised md-hue-2">None Hue 2</md-button>
      <md-button class="md-raised md-primary md-hue-2">Primary Hue 2</md-button>
      <md-button class="md-raised md-accent md-hue-2">Accent Hue 2</md-button>
      <md-button class="md-raised md-warn md-hue-2">Warn Hue 2</md-button>
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="sywr">
    <md-card-content>
    <md-subheader>Buttons, Themed (SYWR)</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="">None</md-button>
      <md-button class="md-primary">Primary</md-button>
      <md-button class="md-accent">Accent</md-button>
      <md-button class="md-warn">Warn</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      Raised:
      <md-button class="md-raised ">None</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button class="md-raised md-accent">Accent</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      Hue 2: <md-button class="md-raised md-hue-2">None Hue 2</md-button>
      <md-button class="md-raised md-primary md-hue-2">Primary Hue 2</md-button>
      <md-button class="md-raised md-accent md-hue-2">Accent Hue 2</md-button>
      <md-button class="md-raised md-warn md-hue-2">Warn Hue 2</md-button>
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="sywr-dark">
    <md-card-content>
    <md-subheader>Buttons, Themed (SYWR)</md-subheader>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="">None</md-button>
      <md-button class="md-primary">Primary</md-button>
      <md-button class="md-accent">Accent</md-button>
      <md-button class="md-warn">Warn</md-button>
    </section>
    <section md-theme="sywr-dark" layout="row" layout-sm="column" layout-align="center center">
      Raised:
      <md-button class="md-raised ">None</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button class="md-raised md-accent">Accent</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
    </section>
    <section md-theme="sywr-dark" layout="row" layout-sm="column" layout-align="center center">
      Hue 2: <md-button class="md-raised md-hue-2">None Hue 2</md-button>
      <md-button class="md-raised md-primary md-hue-2">Primary Hue 2</md-button>
      <md-button class="md-raised md-accent md-hue-2">Accent Hue 2</md-button>
      <md-button class="md-raised md-warn md-hue-2">Warn Hue 2</md-button>
    </section>
    </md-card-content>
    </md-card>

    <md-card md-theme="default">
    <md-card-content>
    <md-subheader>Switches</md-subheader>
    <section>
      <md-switch ng-model="data.cb1" aria-label="Switch 1">
        Switch 1: {{ data.cb1 }}
      </md-switch>
      <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
        Switch 2 (md-warn): {{ data.cb2 }}
      </md-switch>
      <md-switch ng-disabled="true" aria-label="Disabled switch">
        Switch (Disabled)
      </md-switch>
      <md-switch ng-disabled="true" aria-label="Disabled active switch" ng-model="data.cb4">
        Switch (Disabled, Active)
      </md-switch>
      <md-switch class="md-accent" md-no-ink aria-label="Switch No Ink">
        Switch (md-accent): No Ink
      </md-switch>
      <md-switch ng-model="data.cb5" aria-label="Switch 5" ng-change="onChange(data.cb5)">
        Switch 5 message: {{ message }}
      </md-switch>
    </section>
    </md-card-content>
    </md-card>

  </md-content>

</article>
