<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">

	<h1>{{title}}</h1>
	<!-- <h4>{{description}}</h4> -->
	<!-- <p>{{longDescription}}</p> -->

	<!-- START SORTING -->
	<div ng-controller="cSorting">

		<!-- <md-card>
			<md-card-content>
				<div ng-model="sortOrderChoiceTodo" layout="row" layout-sm="column" layout-align="center center">
					<div>Sort by:</div>
					<md-button ng-repeat="option in sortOptions" aria-label="{{option.type}}" class="md-primary btn-small" 
						ng-class="{'def':option.def, 'asc':option.asc, 'des':option.des}" 
						ng-click="sortOrderToggle2(option.type, $index)">
						<span class="flaticon right" 
							ng-class="{'flaticon-drop27':option.asc, 'flaticon-drop25':option.des, 'flaticon-show7':option.def}"></span>
						<span>{{option.tag}}</span>
					</md-button>
					<md-button aria-label="Clear" class="" 
						ng-click="sortClear()">Clear</md-button>
				</div>
			</md-card-content>
		</md-card> -->

		<d-sorting options="todo"> sorting </d-sorting>

		<div ng-controller="cPlayers">
			<md-card ng-repeat="item in todos.items | orderBy: sortOrderChoice: sortReverse" class="todos">
				<md-card-content class="md-padding">
				<div layout="column">
					<h2>{{item.title}}</h2>
					<ul class="todosMeta" layout="row" layout-sm="column" layout-align="center center">
						<li flex class="assignee assignee{{item.assignee}}">
							<span class="label">assignee</span>
							<md-button class="md-raised" aria-label="{{convertMeta('assignee',item.assignee)}}" style="position:absolute; top:-1em; right:0.25em;">
								<span class="{{convertIcon('assignee',item.assignee)}}"></span>
							</md-button>
							<b>{{convertMeta('assignee',item.assignee)}}</b>
						</li>
						<li flex class="status status{{item.status}}">
							<span class="label">status</span>
							<md-button class="md-raised" aria-label="{{convertMeta('status',item.status)}}" style="position:absolute; top:-1em; right:0.25em;"><span class="{{convertIcon('status',item.status)}}"></span></md-button>
							<b>{{convertMeta('status',item.status)}}</b>
						</li>
						<li flex class="priority priority{{item.priority}}">
							<span class="label">priority</span>
							<md-button class="md-raised" aria-label="{{convertMeta('priority',item.priority)}}" style="position:absolute; top:-1em; right:0.25em;"><span class="{{convertIcon('priority',item.priority)}}"></span></md-button>
							<b>{{convertMeta('priority',item.priority)}}</b>
						</li>
						<!-- <li ng-repeat="(key, value) in item.meta" class="{{key}} {{key}}{{value}}">
							<span class="{{item.icon}}"></span>
							<span class="label">{{key}}</span> <b>{{convertMeta(key,value)}}</b></li> -->
					</ul>
					<div>
						<span class="description" ng-repeat="line in item.description" ng-bind-html="line | markdown">{{line}}</span>
					</div>
				</div>
				</md-card-content>
			</md-card>
		</div>

	</div>

</md-content>
</article>