<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">

	<h1>{{title}}</h1>
	<!-- <h4>{{description}}</h4> -->
	<!-- <p>{{longDescription}}</p> -->

	<!-- START SORTING -->
	<div ng-controller="cSorting">

		<d-sorting options="todo"> sorting </d-sorting>

		<fieldset ng-disabled="!testOptions">
			<legend>Edit</legend>
			<div layout="row">
				<fieldset flex>
					<label>All Assignee:</label>
					<select ng-options="label for label in todos.meta[0].assignee" ng-model="modelAssignee"></select>
					{{modelAssignee}}
				</fieldset>
				<fieldset flex>
					<label>All Priority:</label>
					<select ng-options="label for label in todos.meta[1].priority" ng-model="modelPriority"></select>
					{{modelPriority}}
				</fieldset>
				<fieldset flex>
					<label>All Status:</label>
					<select ng-options="label for label in todos.meta[2].status" ng-model="modelStatus"></select>
					{{modelStatus}}
				</fieldset>
			</div>
		</fieldset>

		<div ng-controller="cPlayers">
			<md-card ng-repeat="item in todos.items | orderBy: sortOrderChoice: sortReverse" class="todos">
				<md-card-content class="md-padding">
				<big>{{item.title}}</big>
				<div layout="row" layout-sm="column">
						<ul class="todosMeta">
							<li flex class="assignee assignee{{item.assignee}}">
								<span class="label">assignee</span>
								<md-button class="md-primary" aria-label="{{convertMeta('assignee',item.assignee)}}">
									<span class="{{convertIcon('assignee',item.assignee)}}"></span>
								</md-button>
								<b>{{convertMeta('assignee',item.assignee)}}</b>
							</li>
							<li flex class="status status{{item.status}}">
								<span class="label">status</span>
								<md-button class="md-primary md-raised" aria-label="{{convertMeta('status',item.status)}}"><span class="{{convertIcon('status',item.status)}}"></span></md-button>
								<b ng-click="fChangeStatus(item.status, item.id)">{{convertMeta('status',item.status)}}</b>
								<select ng-disabled="!testOptions" ng-options="label for label in todos.meta[2].status" ng-model="item.status"></select>
							</li>
							<li flex class="priority priority{{item.priority}}">
								<span class="label">priority</span>
								<md-button class="md-primary" aria-label="{{convertMeta('priority',item.priority)}}"><span class="{{convertIcon('priority',item.priority)}}"></span></md-button>
								<b>{{convertMeta('priority',item.priority)}}</b>
							</li>
							<!-- <li ng-repeat="(key, value) in item.meta" class="{{key}} {{key}}{{value}}">
								<span class="{{item.icon}}"></span>
								<span class="label">{{key}}</span> <b>{{convertMeta(key,value)}}</b></li> -->
						</ul>
					<div class="" style="padding-left:1em;margin:1em;border-left:1px solid lightgrey;">
						<p class="description" ng-repeat="line in item.description" ng-bind-html="line | markdown">{{line}}</p>
					</div>
				</div>
				</md-card-content>
			</md-card>
		</div>

	</div>

</md-content>
</article>