<md-card>
	<md-card-content>
		<div ng-model="sortClass" layout="row" layout-sm="column" layout-align="center center">
			<!-- <div>Sort by:</div> -->
			<md-button ng-repeat="option in sortOptions" aria-label="{{option.type}}" class="md-primary" 
				ng-class="{'def':option.def, 'asc':option.asc, 'des':option.des}" 
				ng-click="sortOrderToggle2(option.type, $index)">
				<span class="flaticon right"
					ng-class="{'flaticon-drop27':option.asc, 'flaticon-drop25':option.des, 'flaticon-show7':option.def}"></span>
				<span>{{option.type}}</span>
			</md-button>
			<md-button aria-label="Clear" class="md-accent" 
				ng-click="sortClear()">Clear</md-button>
		</div>
	</md-card-content>
</md-card>