<article class="{{ctitle}} bg-destiny">
<md-content class="md-padding">

	<h1><span class="flaticon {{meta.icon}}"></span>{{title}}: {{member}}</h1>

<md-card>
<md-card-content layout="column" layout-sm="column">
	<h3>Player Characters</h3>
	<!-- <hr> -->
	<div layout="row">
	<table ng-repeat="character in details.characters | orderBy: $index: false">
		<thead>
			<tr>
				<td style="background: transparent url({{getCharImgPath(character.backgroundPath)}}) top right no-repeat; background-size:cover;" class="emblemBox">
					<table>
						<tr>
							<td>
								<img class="emblem" ng-src="{{getCharImgPath(character.emblemPath)}}" border="0" />
							</td>
							<td>
								<h2>
									<span class="label">classHash</span>
									<span>{{character.characterBase.classHash}}</span>
								</h2>
								<span class="label">raceHash</span>
								<span>{{character.characterBase.raceHash}}</span>
								<span class="label">genderHash</span>
								<span>{{character.characterBase.genderHash}}</span>
							</td>
							<td style="text-align:right;">
								<h1 class="level" ng-class="{'prestige':character.isPrestigeLevel}">
									<span class="flaticon flaticon-rate normal" ng-show="character.isPrestigeLevel"></span>
									<span class="label">characterLevel</span>
									<span>{{character.characterLevel}}</span>
								</h1>
								<hr>
								<h5 class="grimoire">
									<span class="flaticon flaticon-copy31 normal" aria-label="Grimoire"></span>
									<span>{{details.grimoireScore}}</span>
								</h5>
							</td>
						</tr>
						<tr>
							<td class="progressBox" colspan="3">
								<div class="progressBar" style="height:1em;background:rgba(255,255,255,0.25);">
									<div class="progressIndicator" style="height:1em;background:rgba(255,255,0,1);width:{{character.percentToNextLevel}}%;"></div>
								</div>
								<!-- <span class="label">percentToNextLevel</span>
								<span>{{character.percentToNextLevel}}%</span> -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</thead>
	</table>
	</div>
</md-card-content>
</md-card>
</md-content>
</article>
