<!-- Compare all characters -->
<article class="{{ctitle}} bg-destiny testing" ng-controller="cPlayers">
<md-content class="md-padding">

	<h1><span class="flaticon {{meta.icon}}"></span>{{title}}: {{member}}</h1>

<d-player-metadata> metadata </d-player-metadata>

<md-divider></md-divider>

<md-card>
<md-card-content layout="column" layout-sm="column">
	<h3>Characters</h3>
	<!-- <div layout="column"> -->
<md-card ng-repeat="character in details.characters | orderBy: $index: false">
<md-card-content layout="column" layout-sm="column">
	<div class="spiffBox">
		<table>
			<caption>character {{$index}}</caption>
			<colgroup>
				<col span="1" style="border:2px solid #99f;">
				<col span="1" style="border:2px solid #9f9;">
				<col span="2" style="border:2px solid #f99;">
			</colgroup>
			<tbody style="background: transparent url({{getCharImgPath(character.backgroundPath)}}) top right no-repeat; background-size:cover;">
				<tr>
					<td class="emblemBox">
						<img class="emblem" ng-src="{{getCharImgPath(character.emblemPath)}}" border="0" />
					</td>
					<td class="nameBox">
						<h2>
							<span class="label">classHash</span>
							<span>{{character.characterBase.classHash}}</span>
						</h2>
						<span class="label">raceHash</span>
						<span>{{character.characterBase.raceHash}}</span>
						<span class="label">genderHash</span>
						<span>{{character.characterBase.genderHash}}</span>
					</td>
					<td class="levelBox">
						<h1 class="level" ng-class="{'prestige':character.isPrestigeLevel}">
							<!-- <span class="flaticon flaticon-rate normal" aria-label="Character Level" ng-show="character.isPrestigeLevel"></span> -->
							<span class="label">characterLevel</span>
							<span>{{character.characterLevel}}</span>
						</h1>
						<!-- <hr> -->
						<h4 class="grimoire">
							<!-- <span class="flaticon flaticon-copy31 normal" aria-label="Grimoire"></span> -->
							<span class="label">grimoireScore</span>
							<span>{{details.grimoireScore}}</span>
						</h4>
					</td>
				</tr>
				<tr>
					<td class="progressBox" colspan="3">
						<div class="progressBar">
							<div class="progressIndicator" style="height:1em;background:rgba(255,204,0,0.75);width:{{character.percentToNextLevel}}%;"></div>
							<span class="label">percentToNextLevel</span>
							<span class="right">{{character.percentToNextLevel}}%</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="actionBox" colspan="3" layout="row">
			<!-- <div layout="row"> -->
			<md-button aria-label="Display" class="md-primary md-raised" ng-disabled="false" ng-click="displayCharacter($index)">Display</md-button>
			<md-checkbox aria-label="Select" class="md-primary md-raised md-button" ng-disabled="true">Select</md-checkbox>
			<!-- </div> -->
		</div>
	</div>
</md-card-content>
</md-card>
	<!-- </div> -->

	<md-button class="md-primary" href="#/{{member}}/all">Compare All</md-button>
	<md-button class="md-primary" ng-disabled="true" ng-click="compareCharacter($index)">Compare Selected</md-button>
</md-card-content>
</md-card>

<md-divider></md-divider>

<d-player-inventory> inventory </d-player-inventory>

</md-content>
</article>
