<!-- Compare all characters -->
<article class="{{ctitle}} bg-destiny" ng-controller="cPlayers">
<md-content class="md-padding">

<d-player-metadata> metadata </d-player-metadata>

<d-player-inventory> inventory </d-player-inventory>

<md-divider></md-divider>

<md-card>
	<md-card-content layout="column">

<div ng-repeat="character in details.characters | orderBy: $index: false" style="position:relative; overflow:hidden; margin-bottom:0.5em;">
	<!-- <caption>character {{$index}}</caption> -->
	<img src="" ng-src="{{getCharImgPath(character.backgroundPath)}}" alt="" style="width:100%; height:100%; position: absolute;">
	<div layout="row" layout-sm="column" style="position:relative;">
		<div class="spiffBox" layout="column" style="background: transparent url('{{getCharImgPath(character.backgroundPath)}}') top right no-repeat; background-size:cover;">
			<!-- <div ng-include="'views/includes/box-spiff-table.html'"></div> -->
			<div ng-include="'views/includes/box-spiff-div.html'"></div>
		</div>
		<div class="actionsBox" layout="column" layout-sm="row" layout-align-sm="center center">
			<md-button aria-label="Display" class="md-primary md-raised" ng-disabled="false" ng-click="displayCharacter($index)">Display</md-button>
			<md-checkbox aria-label="Select" class="md-accent md-raised md-button" ng-disabled="false">Select</md-checkbox>
		</div>
	</div>
</div>

	</md-card-content>
	<md-card-content layout="row" layout-align="end center" layout-align-sm="center center">
		<md-button class="md-primary md-raised" href="#/{{member}}/all">Compare All</md-button>
		<md-button class="md-accent md-raised" ng-disabled="false" ng-click="compareCharacter($index)">Compare Selected</md-button>
	</md-card-content>
</md-card>

</md-content>
</article>
