<!-- Compare all characters -->
<article class="{{ctitle}} bg-destiny" ng-controller="cPlayers">
<md-content class="md-padding">

	<h1><span class="flaticon {{meta.icon}}"></span>{{title}}: {{member}}</h1>

	<!-- <h3>{{details.clanName}} ({{details.clanTag}})</h3> -->
	<!-- <h2>details:</h2> -->
	<!-- <table>
		<tr ng-repeat="(key,value) in details">
			<th>{{key}}</th>
			<td>{{value}}</td>
		</tr>
	</table> -->

<md-card>
<md-card-content layout="column" layout-sm="column">
	<h3>Characters</h3>
	<div layout="column">
<md-card>
<md-card-content layout="column" layout-sm="column">
	<div class="spiffBox" ng-repeat="character in details.characters | orderBy: $index: false">
		<div class="" style="background: transparent url({{getCharImgPath(character.backgroundPath)}}) top right no-repeat; background-size:cover;">
			<table>
				<thead>
					<tr>
						<td><h4>character {{$index}}</h4></td>
					</tr>
				</thead>
				<tbody>
				<tr layout="row">
					<td class="emblemBox">
						<img class="emblem" ng-src="{{getCharImgPath(character.emblemPath)}}" border="0" />
					</td>
					<td class="nameBox" flex>
						<h2>
							<span class="label">classHash</span>
							<span>{{character.characterBase.classHash}}</span>
						</h2>
						<span class="label">raceHash</span>
						<span>{{character.characterBase.raceHash}}</span>
						<span class="label">genderHash</span>
						<span>{{character.characterBase.genderHash}}</span>
					</td>
					<td class="levelBox">
						<h1 class="level" ng-class="{'prestige':character.isPrestigeLevel}">
							<!-- <span class="flaticon flaticon-rate normal" aria-label="Character Level" ng-show="character.isPrestigeLevel"></span> -->
							<span class="label">characterLevel</span>
							<span>{{character.characterLevel}}</span>
						</h1>
						<!-- <hr> -->
						<h4 class="grimoire">
							<!-- <span class="flaticon flaticon-copy31 normal" aria-label="Grimoire"></span> -->
							<span class="label">grimoireScore</span>
							<span>{{details.grimoireScore}}</span>
						</h4>
					</td>
				</tr>
				<tr layout="row">
					<td class="progressBox" colspan="3">
						<div class="progressBar">
							<div class="progressIndicator" style="height:1em;background:rgba(255,204,0,0.75);width:{{character.percentToNextLevel}}%;"></div>
							<span class="label">percentToNextLevel</span>
							<span class="right">{{character.percentToNextLevel}}%</span>
						</div>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr layout="row">
					<td class="actionBox" colspan="3" layout="row">
						<!-- <div layout="row"> -->
						<md-button aria-label="Display" class="md-primary md-raised" ng-disabled="false" ng-click="displayCharacter($index)">Display</md-button>
						<md-checkbox aria-label="Select" class="md-primary md-raised md-button" ng-disabled="true">Select</md-checkbox>
						<!-- </div> -->
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</md-card-content>
</md-card>
	</div>

	<md-button class="md-primary" href="#/players/{{member}}/characters">Compare All</md-button>
	<md-button class="md-primary" ng-disabled="true" ng-click="compareCharacter($index)">Compare Selected</md-button>
</md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
<md-card-content layout="column" layout-sm="column">
	<h3>Metadata</h3>
	<div layout="row">
	<ul flex>
		<li>
			<span class="label">membershipId</span>
			<span>{{details.membershipId}}</span>
		</li>
		<li>
			<span class="label">membershipType</span>
			<span>{{details.membershipType}}</span>
		</li>
		<li>
			<span class="label">grimoireScore</span>
			<span>{{details.grimoireScore}}</span>
		</li>
	</ul>
	</div>
</md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
<md-card-content layout="column" layout-sm="column">
	<h3>Inventory</h3>
	<div layout="row">
	<ul flex>
		<li>
			<span class="strong">buckets</span>
		</li>
		<!-- <li>{{details.inventory.buckets}}</li> -->
		<li ng-repeat="(key,value) in details.inventory.buckets"><span class="label">{{key}}</span> <span>{{value}}</span></li>
	</ul>
	<ul flex>
		<li>
			<span class="strong">currencies</span>
		</li>
		<!-- <li>{{details.inventory.currencies}}</li> -->
		<li ng-repeat="(key,value) in details.inventory.currencies[0]"><span class="label">{{key}}</span> <span>{{value}}</span></li>
	</ul>
	</div>
</md-card-content>
</md-card>

</md-content>
</article>
