/*basic.less*/
/* variables */
/* mixins */
.boxShadowOut {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
.boxShadowIn {
  box-shadow: inset 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
/* operations */
/* functions */
/* Basic Styles */
body {
  font-size: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
header,
nav,
section,
aside,
footer {
  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;
}
header *,
nav *,
footer * {
  text-align: center;
}
section,
aside {
  float: left;
}
body p,
html p {
  line-height: 1.4;
}
article * {
  overflow: hidden;
}
article ul,
article ol,
article dl {
  padding: 0.5em 0;
  margin: 0;
  text-indent: 0;
}
article ul li,
article ol li,
article dl li,
article ul dt,
article ol dt,
article dl dt,
article ul dd,
article ol dd,
article dl dd {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
article ul {
  list-style-type: disc;
}
article ul ul {
  list-style-type: square;
  padding: 0 0 0.5em 0;
}
article ul ul ul {
  list-style-type: circle;
}
article ol {
  list-style-type: decimal-leading-zero;
}
article dl {
  list-style-type: square;
}
nav ul {
  line-height: 1.5;
}
nav ul li {
  float: left;
  position: relative;
  padding: 1em;
}
nav ul li span:after {
  content: "\25b6";
  padding-left: 0.25em;
}
nav ul ul {
  display: none;
  position: absolute;
  padding: 0;
  background: #fff;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
}
nav ul ul li {
  float: none;
  position: relative;
  padding: 0.5em 1em;
}
nav ul li:hover {
  background: yellow;
}
nav ul li:hover ul {
  display: block;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border-collapse: separate;
  border: 1px solid red;
  margin: 2px;
  padding: 2px;
}
table {
  width: 100%;
}
table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  margin: 0 !important;
}
table thead,
table tbody,
table tfoot,
table tr {
  width: 100%;
}
table thead {
  background: rgba(255, 0, 255, 0.25);
  border-color: magenta;
}
table tbody {
  background: rgba(0, 255, 255, 0.25);
  border-color: cyan;
}
table tfoot {
  background: rgba(255, 255, 0, 0.25);
  border-color: yellow;
}
table tr {
  border-color: green;
}
table tr th,
table tr td {
  vertical-align: top;
  overflow: hidden;
}
table tr th .label,
table tr td .label {
  display: none;
}
table tr th {
  text-align: right;
  border-color: blue;
}
.infoBoxClan li {
  padding: 0 1em;
}
.description ul li {
  list-style-type: disc;
}
.description ul li ul li {
  list-style-type: square;
}
.description ul li ul li ul li {
  list-style-type: circle;
}
.todos li,
.todos dt,
.todos dd {
  padding: 0.25em;
  border-radius: 0.25em;
}
.helper {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.125);
  display: block;
  width: 100%;
  text-align: center;
}
.sorting {
  width: 100%;
}
.sorting th,
.sorting td {
  padding: 0.5em 1em;
}
.sorting th {
  text-align: right;
}
.todos b {
  border-bottom: 2px solid #ddd;
  text-transform: lowercase;
}
.todos span:before,
.todos span:after {
  color: #999;
}
.todos .priority0 {
  color: #ff0000;
}
.todos .priority1 {
  color: #ff9900;
}
.todos .priority2 {
  color: #009900;
}
.todos .priority3 {
  color: #9999ff;
}
.link.outbound {
  background: rgba(127, 0, 127, 0.125);
  border: 1px solid rgba(127, 0, 127, 0.5);
}
.link.outbound.bungie {
  background: rgba(255, 0, 127, 0.125);
  border: 1px solid rgba(255, 0, 127, 0.5);
}
.link.outbound.github {
  background: rgba(127, 0, 255, 0.125);
  border: 1px solid rgba(127, 0, 255, 0.5);
}
.link.json {
  background: rgba(0, 255, 127, 0.125);
  border: 1px solid rgba(0, 255, 127, 0.5);
}
.label {
  color: #808080;
  padding-right: 0.25em;
  width: auto;
  height: 1em;
  line-height: 1em;
  text-align: right;
  float: left;
}
.label:after {
  content: ":";
}
.label.small {
  width: auto;
  float: none;
}
.strong,
.strong:before,
.strong:after {
  font-weight: 700 !important;
}
.small,
.small:before,
.small:after {
  font-size: 0.875em !important;
  line-height: 1 !important;
  height: 1em !important;
}
.normal,
.normal:before,
.normal:after {
  font-size: 1em !important;
  line-height: 1 !important;
  height: 1em !important;
}
.showMenu span {
  color: red !important;
}
.overflowHidden {
  overflow: hidden;
}
