/*basic.less*/
/* variables */
/* mixins */
/* operations */
/* functions */
/* Basic Styles */
body {
  font-size: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
header,
nav,
section,
aside,
footer {
  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;
}
header *,
nav *,
footer * {
  text-align: center;
}
section,
aside {
  float: left;
}
article ul,
article ol,
article dl {
  padding: 0.5em 0;
  margin: 0 0 0 1em;
}
article ul li,
article ol li,
article dl li,
article ul dt,
article ol dt,
article dl dt,
article ul dd,
article ol dd,
article dl dd {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0 0;
}
article ul {
  list-style-type: disc;
}
article ul ul {
  list-style-type: square;
  padding: 0 0 0.5em 0;
}
article ul ul ul {
  list-style-type: circle;
}
article ol {
  list-style-type: decimal-leading-zero;
}
article dl {
  list-style-type: square;
}
nav ul {
  line-height: 1.5;
}
nav ul li {
  float: left;
  position: relative;
  padding: 1em;
}
nav ul li span:after {
  content: "\25b6";
  padding-left: 0.25em;
}
nav ul ul {
  display: none;
  position: absolute;
  padding: 0;
  background: #fff;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
}
nav ul ul li {
  float: none;
  position: relative;
  padding: 0.5em 1em;
}
nav ul li:hover {
  background: yellow;
}
nav ul li:hover ul {
  display: block;
}
table,
tr,
th,
td {
  border-collapse: separate;
}
table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  margin: 0 !important;
}
table tr th,
table tr td {
  vertical-align: top;
  overflow: hidden;
}
table tr th .label,
table tr td .label {
  display: none;
}
table tr th {
  text-align: right;
}
.helper {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.125);
  display: block;
  width: 100%;
  text-align: center;
}
.sorting {
  width: 100%;
}
.sorting th,
.sorting td {
  padding: 0.5em 1em;
}
.sorting th {
  text-align: right;
}
.link.outbound {
  background: rgba(127, 0, 127, 0.125);
  border: 1px solid rgba(127, 0, 127, 0.5);
}
.link.outbound.bungie {
  background: rgba(255, 0, 127, 0.125);
  border: 1px solid rgba(255, 0, 127, 0.5);
}
.link.outbound.github {
  background: rgba(127, 0, 255, 0.125);
  border: 1px solid rgba(127, 0, 255, 0.5);
}
.link.json {
  background: rgba(0, 255, 127, 0.125);
  border: 1px solid rgba(0, 255, 127, 0.5);
}
.label {
  color: rgba(0, 0, 0, 0.75);
  padding-right: 0.25em;
  width: 8em;
  height: 1em;
  line-height: 1em;
  text-align: right;
  float: left;
}
.label:after {
  content: ":";
}
.label.small {
  width: auto;
  float: none;
}
.strong,
.strong:before,
.strong:after {
  font-weight: 700 !important;
}
.small,
.small:before,
.small:after {
  font-size: 0.875em !important;
  line-height: 1 !important;
  height: 1em !important;
}
.normal,
.normal:before,
.normal:after {
  font-size: 1em !important;
  line-height: 1 !important;
  height: 1em !important;
}
.showMenu span {
  color: red !important;
}
.overflowHidden {
  overflow: hidden;
}
