/*basic.less*/

/* variables */
// example:
// @nice-blue: #5B83AD;

/* mixins */
// example:
// .border {
//   border-bottom: solid 2px black;
// }

/* operations */
// example:
// color: #888 / 4;
// background-color: @base-color + #111;
// height: 100% / 2 + @filler;

/* functions */
// example:
// @link-color:        #428bca; // sea blue
// @link-color-hover:  darken(@link-color, 10%);


/* Basic Styles */
html {}
body {
	font-size: 1em;
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

header,
nav,
section,
aside,
footer {padding: 0; margin: 0; width: 100%; clear: both;}

header {}
nav {}
header *,
nav *,
footer * {text-align: center;}
section,
aside {float: left;}
//section {width: 60%;}
//aside {width: 40%; clear: none;}
footer {}

h1, h2, h3, h4, h5, h6 {}
// h1 {font-size: 3em}
// h2 {font-size: 2em}
// h3 {font-size: 1.5em}
// h4 {font-size: 1.25em}
// h5 {font-size: 1em}
// h6 {font-size: 0.875em}

ul, ol, dl {
	li, dt, dd {}
	dt {}
	dd {text-indent: 1em;}
}

article {
	// padding: 1em;
	// h1, h2, h3, h4, h5, h6 {padding: 0.5em 0 0.25em;}
	ul, ol, dl {
		padding:0.5em 0;
		margin:0 0 0 1em;
		li, dt, dd {
			list-style-type: none;
			padding:0 0;
			margin:0 0;
			span {}
			span.label {
				color:rgba(0,0,0,0.5); padding-right:0.5em; font-size:0.875em;
				width: 4em;
				height: 1em;
				line-height: 1em;
				text-align: right;
				float: left;
			}
		}
	}
	ul {list-style-type: disc;
		ul {list-style-type: square;
			padding:0 0 0.5em 0;
			ul {list-style-type: circle;}
		}
	}
	ol {list-style-type: decimal-leading-zero;}
	dl {list-style-type: square;}
}

nav {
	ul {
		line-height: 1.5;
		li {
			float: left; position: relative; padding: 1em;
			span:after {content: "\25b6"; padding-left: 0.25em;}
		}
		ul {
			display: none; position: absolute; padding: 0; background: #fff; box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
			li {float: none; position: relative; padding: 0.5em 1em;}
		}
		li:hover {
			background: yellow;
			ul {display: block;}
		}
	}
}

.helper {font-size: 0.875em; color: rgba(0,0,0,0.5); background: rgba(0,0,0,0.125);}
.sorting {
	width:100%;
	th, td {padding:0.5em 1em;}
	th {text-align:right;}
	td {}
}

.asc {
	// background:#fee;
	&:after {
		// content:"\2794";
		// transform: translate(1px) rotate(270deg);
		// transform: rotate(0.75turn);
		// content:"\2191";
		// content:"\ffea";
		// font-size:3em;
		// line-height:0.5;
	}
}
.des {
	// background:#efe;
	&:after {
		// content:"\2794";
		// transform: translate(1px) rotate(90deg);
		// transform: rotate(0.25turn);
		// content:"\2193";
		// content:"\ffec";
		// font-size:3em;
		// line-height:0.5;
	}
}
.link {
	&.outbound {
		background: rgba(127, 0, 127, 0.125); border: 1px solid rgba(127, 0, 127, 0.5);
		&:after {}
		&.bungie {background: rgba(255, 0, 127, 0.125); border: 1px solid rgba(255, 0, 127, 0.5);;}
		&.github {background: rgba(127, 0, 255, 0.125); border: 1px solid rgba(127, 0, 255, 0.5);;}
	}
	&.json {
		background: rgba(0, 255, 127, 0.125); border: 1px solid rgba(0, 255, 127, 0.5);
		&:after {}
	}
}
