/* variables */
/* mixins */
.boxShadowOut {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
.boxShadowIn {
  box-shadow: inset 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
/* operations */
/* functions */
/* generic backgrounds */
.gradient-linear-white-trans {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.75) 50%, #ffffff 100%);
}
.gradient-radial-teal-grey {
  background: radial-gradient(ellipse at center, #87e0fd 25%, #53cbf1 50%, #05abe0 100%);
  /* W3C */
}
/* Official Destiny colors */
/* elementals */
/* elemental colors */
/* character classes */
/* character races */
/* rarity colors */
.basic {
  background: lightgrey;
  color: black;
}
.uncommon {
  background: green;
  color: white;
}
.rare {
  background: blue;
  color: white;
}
.legendary {
  background: purple;
  color: white;
}
.exotic {
  background: yellow;
  color: black;
}
/* character classes */
.warlock {
  /* subclasses */
}
.warlock:before {
  content: "warlock";
}
.warlock.solar,
.warlock.sunsinger {
  background: orange;
  color: black;
}
.warlock.void,
.warlock.voidwalker {
  background: violet;
  color: black;
}
.hunter {
  /* subclasses */
}
.hunter:before {
  content: "hunter";
}
.hunter.arc,
.hunter.bladedancer {
  background: cyan;
  color: black;
}
.hunter.solar,
.hunter.gunslinger {
  background: orange;
  color: black;
}
.titan {
  /* subclasses */
}
.titan:before {
  content: "titan";
}
.titan.arc,
.titan.striker {
  background: cyan;
  color: black;
}
.titan.void,
.titan.defender {
  background: violet;
  color: black;
}
/* weapon types */
/* armor types */
.helmet .head,
.helm {
  content: "helmet";
}
.gloves,
.hand,
.arm,
.gauntlets {
  content: "gauntlets";
}
.chest,
.cuirass {
  content: "chest";
}
.boots,
.leg,
.greaves {
  content: "leg";
}
/* consumables */
/* activity types */
/* Page Background Images */
.icon-group-* {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/icons/destiny-icon-tower.png') repeat center top;
}
.icon-group-* md-content {
  background: rgba(255, 255, 255, 0.75);
}
/* patrol types */
/* userTitleDisplay types */
