	/* custom styles */
	body {font-weight: 300;text-align: left;}
	th, td {}
	th, dt {font-weight: 700;}
	td, dd {font-weight: 300;}
	dl, dt, dd {width: auto; margin: 0;}
	dl dt {}
	dl dd {}
	.close, .closeLeft {position:absolute; top:1.75em; right:1em;}
	/*.closeRight {position:absolute; top:1.5em; left:1em;}*/
	.left {float:left !important;}
	.right {float:right !important;}
	/*.label {width:10em; text-align:right;}*/
	.wide {width:100%;}
	.label {color:#999;}

	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
		font-family:Flaticon;
		font-size:36px;
		font-style:normal;
		margin: 0;
	}
	.md-button, [class^="flaticon-"], [class*=" flaticon-"] {
		float:left;line-height:36px; height:48px; overflow: hidden; margin: 0;
	}
	.md-button {margin:0.125em;}
	[class^="flaticon-"]+span, [class*=" flaticon-"]+span {
		margin-left: 0.5em;
	}
	span+[class^="flaticon-"], span+[class*=" flaticon-"] {
		margin-right: 0.5em;
	}

	.md-sidenav-left .md-button,
	.md-sidenav-right .md-button {text-align:left;width:100%;}
	.md-sidenav-left .md-button span,
	.md-sidenav-right .md-button span {}
	.md-sidenav-left .md-button span.text,
	.md-sidenav-right .md-button span.text {}
	.md-sidenav-left .md-button span.icon,
	.md-sidenav-right .md-button span.icon {}
