	/* custom styles */
	body {font-weight: 300;text-align: left;}
	th, td {}
	th, dt {font-weight: 700;}
	td, dd {font-weight: 300;}
	dl, dt, dd {width: auto; margin: 0;}
	dl dt {}
	dl dd {}

	.close, .closeLeft {position:absolute; top:1.75em; right:1em;}
	/*.closeRight {position:absolute; top:1.5em; left:1em;}*/
	.left {float:left !important;}
	.right {float:right !important;}
	.wide {width:100%;}

	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
		font-family:Flaticon;
		font-size:36px;
		font-style:normal;
		margin: 0;
	}
	.md-button, 
	[class^="flaticon-"], [class*=" flaticon-"] {
		height:44px;
		line-height:36px;
		overflow: hidden;
		margin: 0;
		float:left;
	}
	.btn-small [class^="flaticon-"]:before, .btn-small [class*=" flaticon-"]:before,
	.btn-small [class^="flaticon-"]:after, .btn-small [class*=" flaticon-"]:after {   
		font-size:24px;
	}
	.md-button.btn-small, 
	.btn-small [class^="flaticon-"], .btn-small [class*=" flaticon-"] {
		/*font-size:30px;*/
		/*height:32px;*/
		/*line-height:24px;*/
		float:left;
		overflow: hidden;
		margin: 0;
	}
	.md-button {margin:0.125em;}
	[class^="flaticon-"]+span, [class*=" flaticon-"]+span {
		margin-left: 0.5em;
	}
	span+[class^="flaticon-"], span+[class*=" flaticon-"] {
		margin-right: 0.5em;
	}

	.md-sidenav-left .md-button,
	.md-sidenav-right .md-button {text-align:left;width:100%;}
	.md-sidenav-left .md-button span,
	.md-sidenav-right .md-button span {}
	.md-sidenav-left .md-button span.text,
	.md-sidenav-right .md-button span.text {}
	.md-sidenav-left .md-button span.icon,
	.md-sidenav-right .md-button span.icon {}

.md-button.md-sywr-theme:not([disabled]):hover, .md-button.md-sywr-theme:not([disabled]):focus {background: transparent !important;}