/*test.css*/

/*header {background: #ccf;}*/
/*nav {background: #cfc;}*/

/*section {background: #eee;}*/
/*aside {background: #ddd;}*/
/*div {background: #ccc;}*/

/*footer {background: #fcc;}*/

.spiffBox {background:rgba(0,0,255,0.125);}
.emblemBox {background:rgba(255,0,0,0.125);}
.nameBox {background:rgba(0,255,0,0.125);}
.levelBox {background:rgba(0,127,127,0.125);}
.progressBox {background:rgba(127,127,0,0.125);}
.actionBox {background:rgba(127,0,127,0.125);}
