// theme.less

@import "mixins";

article md-card {background: rgba(255,255,255,0.75);}
article md-content {background: rgba(255,255,255,0.75);}

/* Page Background Images */
.bg-destiny {
	background-size: 100% auto;
	background-attachment: fixed;
	background: white url('../img/destiny/destiny-banners-classes.png') repeat center top;
	md-content {background: rgba(255,255,255,0.75);}
}
// emblems
.classes-banner-hunter {
	background-image: url('../img/destiny/destiny-emblem-hunter.png');
}
.classes-banner-titan {
	background-image: url('../img/destiny/destiny-emblem-titan.png');
}
.classes-banner-warlock {
	background-image: url('../img/destiny/destiny-emblem-warlock.png');
}
// banners
.banners-titan {
	background-image: url('../img/destiny/destiny-emblem-banners-titan.png');
}
.banners-warlock {
	background-image: url('../img/destiny/destiny-emblem-banners-warlock.png');
}
.banners-hunter {
	background-image: url('../img/destiny/destiny-emblem-banners-hunter.jpg');
}
// concept art
.classes-banners {
	background-image: url('../img/destiny/destiny-conceptart-banners-classes.jpg');
}
.classes-concepts {
	background-image: url('../img/destiny/destiny-conceptart-characters-classes.jpg');
}
.conceptart-erismorn {
	background-image: url('../img/destiny/destiny-conceptart-erismorn.jpg');
}
.weapon-hardlight {
	background-image: url('../img/destiny/destiny-weapon-hardlight.jpg');
}
article.cHome {
	// .classes-banners();
}
article.cMembers {
	// .classes-concepts();
}
article.cGames {
	// .conceptart-erismorn();
}
article.cItems {
	// .weapon-hardlight();
}
article.cTodo {
	// .weapon-hardlight();
}

// md-card-content .player-row {background: @playerRow+#999}
// md-card-content:nth-of-type(2) .player-row {background: spin(@playerRow+#999, 90)}
// md-card-content:nth-of-type(3) .player-row {background: spin(@playerRow+#999, 180)}
// md-card-content:nth-of-type(4) .player-row {background: spin(@playerRow+#999, 270)}

.player-row {
	border-left: 0.5em solid #808080;
	.avatar {margin-right:1em;}
	.handleBox {padding-left:1em;}
	.buttonBox {}
}
.row-8310647 {
	border-left: 0.5em solid spin(@playerRow+#666, 0);
}
.row-7037048 {
	border-left: 0.5em solid spin(@playerRow+#666, 60);
	// background: spin(@playerRow+#aaa, 90);
}
.row-7666141 {
	border-left: 0.5em solid spin(@playerRow+#666, 120);
	// background: spin(@playerRow+#aaa, 180);
}
.row-3892477 {
	border-left: 0.5em solid spin(@playerRow+#666, 180);
	// background: spin(@playerRow+#aaa, 270);
}
.row-8162353 {
	border-left: 0.5em solid spin(@playerRow+#666, 240);
	// background: spin(@playerRow+#aaa, 270);
}
.row-9856625 {
	border-left: 0.5em solid spin(@playerRow+#666, 300);
	// background: spin(@playerRow+#aaa, 270);
}

// .border-8310647 {border-left: 0.5em solid @8310647+#999;}
// .border-7037048 {border-left: 0.5em solid @7037048+#999;}
// .border-7666141 {border-left: 0.5em solid @7666141+#999;}
// .border-3892477 {border-left: 0.5em solid @3892477+#999;}
// .border-8162353 {border-left: 0.5em solid @8162353+#999;}

// .bg-8310647 {background: @8310647+#ccc;}
// .bg-7037048 {background: @7037048+#ccc;}
// .bg-7666141 {background: @7666141+#ccc;}
// .bg-3892477 {background: @3892477+#ccc;}
// .bg-8162353 {background: @8162353+#ccc;}

/* CHARACTER EMBLEM */
.spiffBox table, 
.spiffBox thead, .spiffBox tbody, .spiffBox tfoot, 
.spiffBox tr, .spiffBox th, .spiffBox td {
	border-collapse: collapse;
	border: none;
	margin: 0;
	padding: 0;
}
.spiffBox {
	width: 100%;
	color:white !important;
	margin-bottom: 1em;
	table {}
	img, ul, ol, dl {float: left;}
	hr {border:none; height:0;}
	dl, ul, ol {}
	dt, dd, li {}
	.emblemBox {
		padding: 0.5em 0.5em 1em;
		.emblem {
			// border: 5px outset rgba(204,204,204,0.5);
			// box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.5);
			padding: 0; margin: 0; height:90px; width:90px;
		}
	}
	.nameBox {
		padding: 0.5em;
		text-align:left;
	}
	.levelBox {
		padding: 0.5em;
		text-align:right;
		.level {font-size: 3em;}
	}
	.progressBox {
		width: 100%;
		// padding: 0.5em 0;
		.progressBar {
			height:1em;
			background:rgba(255,255,255,0.25);
			.progressIndicator {
				height:1em;
			}
		}
	}
	.actionBox {
		width: 100%;
		padding: 0.5em;
		// background:rgba(0,0,0,0.75);
	}
}
.prestige {color:#fc0;}
.prestige:before, 
.grimoire:before {content:"\2605"; font-size:0.55em; line-height:1; padding: 0 0 1em 0; margin: 0;}
// .prestige .flaticon {float:left !important;}
.grimoire:before {content:"\2630";}
// .grimoire .flaticon {float:right !important;}
