/* variables */
/* mixins */
/* operations */
/* functions */
/* generic backgrounds */
.gradient-linear-white-trans {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.75) 50%, #ffffff 100%);
}
.gradient-radial-teal-grey {
  background: radial-gradient(ellipse at center, #87e0fd 25%, #53cbf1 50%, #05abe0 100%);
  /* W3C */
}
/* Page Background Images */
.bg-destiny {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
}
.bg-destiny md-content {
  background: rgba(255, 255, 255, 0.75);
}
.classes-banners {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-banners-classes.png');
}
.classes-banners md-content {
  background: rgba(255, 255, 255, 0.75);
}
.classes-concepts {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-conceptart-characters-classes.jpg');
}
.classes-concepts md-content {
  background: rgba(255, 255, 255, 0.75);
}
.conceptart-erismorn {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-conceptart-erismorn.jpg');
}
.conceptart-erismorn md-content {
  background: rgba(255, 255, 255, 0.75);
}
.weapon-hardlight {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-weapon-hardlight.jpg');
}
.weapon-hardlight md-content {
  background: rgba(255, 255, 255, 0.75);
}
article md-card {
  background: rgba(255, 255, 255, 0.75);
}
article md-content {
  background: rgba(255, 255, 255, 0.75);
}
.player-row,
.row-8310647 {
  padding-left: 1em;
  border-left: 0.5em solid #e976ca;
}
.row-7037048 {
  border-left: 0.5em solid #e99576;
}
.row-7666141 {
  border-left: 0.5em solid #cae976;
}
.row-3892477 {
  border-left: 0.5em solid #76e995;
}
.row-8162353 {
  border-left: 0.5em solid #76cae9;
}
.row-9856625 {
  border-left: 0.5em solid #9576e9;
}
