/* variables */
/* mixins */
.boxShadowOut {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
.boxShadowIn {
  box-shadow: inset 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
/* operations */
/* functions */
/* generic backgrounds */
.gradient-linear-white-trans {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.75) 50%, #ffffff 100%);
}
.gradient-radial-teal-grey {
  background: radial-gradient(ellipse at center, #87e0fd 25%, #53cbf1 50%, #05abe0 100%);
  /* W3C */
}
article md-card {
  background: rgba(255, 255, 255, 0.75);
}
article md-content {
  background: rgba(255, 255, 255, 0.75);
}
/* Page Background Images */
.bg-destiny {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
}
.bg-destiny md-content {
  background: rgba(255, 255, 255, 0.75);
}
.classes-banners {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-banners-classes.png');
}
.classes-banners md-content {
  background: rgba(255, 255, 255, 0.75);
}
.classes-concepts {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-conceptart-characters-classes.jpg');
}
.classes-concepts md-content {
  background: rgba(255, 255, 255, 0.75);
}
.conceptart-erismorn {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-conceptart-erismorn.jpg');
}
.conceptart-erismorn md-content {
  background: rgba(255, 255, 255, 0.75);
}
.weapon-hardlight {
  background-size: 100% auto;
  background-attachment: fixed;
  background: rgba(255, 255, 255, 0.75) url('../img/destiny/destiny-banners-classes.png') repeat center top;
  background-image: url('../img/destiny/destiny-weapon-hardlight.jpg');
}
.weapon-hardlight md-content {
  background: rgba(255, 255, 255, 0.75);
}
.player-row {
  border-left: 0.5em solid #808080;
}
.player-row .avatar {
  margin-right: 1em;
}
.player-row .handleBox {
  padding-left: 1em;
}
.row-8310647 {
  border-left: 0.5em solid #e976ca;
}
.row-7037048 {
  border-left: 0.5em solid #e99576;
}
.row-7666141 {
  border-left: 0.5em solid #cae976;
}
.row-3892477 {
  border-left: 0.5em solid #76e995;
}
.row-8162353 {
  border-left: 0.5em solid #76cae9;
}
.row-9856625 {
  border-left: 0.5em solid #9576e9;
}
/* CHARACTER EMBLEM */
.spiffBox table,
.spiffBox thead,
.spiffBox tbody,
.spiffBox tfoot,
.spiffBox tr,
.spiffBox th,
.spiffBox td {
  border-collapse: collapse;
  border: none;
  margin: 0;
  padding: 0;
}
.spiffBox {
  width: 100%;
  color: white !important;
  margin-bottom: 1em;
}
.spiffBox img,
.spiffBox ul,
.spiffBox ol,
.spiffBox dl {
  float: left;
}
.spiffBox hr {
  border: none;
  height: 0;
}
.spiffBox .emblemBox {
  padding: 0.5em 0.5em 1em;
}
.spiffBox .emblemBox .emblem {
  padding: 0;
  margin: 0;
  height: 90px;
  width: 90px;
}
.spiffBox .nameBox {
  padding: 0.5em;
  text-align: left;
}
.spiffBox .levelBox {
  padding: 0.5em;
  text-align: right;
}
.spiffBox .levelBox .level {
  font-size: 3em;
}
.spiffBox .progressBox {
  width: 100%;
}
.spiffBox .progressBox .progressBar {
  height: 1em;
  background: rgba(255, 255, 255, 0.25);
}
.spiffBox .progressBox .progressBar .progressIndicator {
  height: 1em;
}
.spiffBox .actionBox {
  width: 100%;
  padding: 0.5em;
}
.prestige {
  color: #fc0;
}
.prestige:before,
.grimoire:before {
  content: "\2605";
  font-size: 0.55em;
  line-height: 1;
  padding: 0 0 1em 0;
  margin: 0;
}
.grimoire:before {
  content: "\2630";
}
