/* variables */
/* mixins */
.boxShadowOut {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
.boxShadowIn {
  box-shadow: inset 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
}
/* operations */
/* functions */
/* generic backgrounds */
.gradient-linear-white-trans {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.75) 50%, #ffffff 100%);
}
.gradient-radial-teal-grey {
  background: radial-gradient(ellipse at center, #87e0fd 25%, #53cbf1 50%, #05abe0 100%);
  /* W3C */
}
article md-content {
  background: rgba(255, 255, 255, 0.5);
}
article md-card {
  background: rgba(255, 255, 255, 0.95);
}
/* Page Background Images */
.bg-destiny {
  background-size: 100% auto;
  background-attachment: fixed;
  background: white url('../img/destiny/icons/destiny-icon-strike.png') repeat center top;
}
.bg-destiny md-content {
  background: rgba(0, 0, 0, 0.5);
}
.emblem-all {
  background-image: url('../img/destiny/destiny-emblems-all.png');
}
.emblem-hunter {
  background-image: url('../img/destiny/destiny-emblems-hunter.png');
}
.emblem-titan {
  background-image: url('../img/destiny/destiny-emblems-titan.png');
}
.emblem-warlock {
  background-image: url('../img/destiny/destiny-emblems-warlock.png');
}
.banners-all {
  background-image: url('../img/destiny/destiny-banners-all.jpg');
}
.banners-titan {
  background-image: url('../img/destiny/destiny-banners-titan.png');
}
.banners-warlock {
  background-image: url('../img/destiny/destiny-banners-warlock.png');
}
.banners-hunter {
  background-image: url('../img/destiny/destiny-banners-hunter.jpg');
}
.banners-classes {
  background-image: url('../img/destiny/destiny-concepts-banners-classes.jpg');
}
.concepts-classes {
  background-image: url('../img/destiny/destiny-concepts-characters-classes.jpg');
}
.concepts-eris {
  background-image: url('../img/destiny/destiny-concepts-eris.jpg');
}
.weapon-hardlight {
  background-image: url('../img/destiny/destiny-weapon-hardlight.jpg');
}
/* PLAYER INFO BOX */
.player-row .avatarBox {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
}
.player-row .avatarBox img,
.player-row .avatarBox .avatar {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
}
.player-row .avatarBox b.name {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.125em 0.5em;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.player-row .handleBox {
  padding-left: 0.5em;
  z-index: 2;
}
.player-row .handleBox .names {
  margin: 0;
}
.player-row .handleBox .names li {
  display: block;
  float: none;
  clear: both;
}
.player-row .handleBox .names li big {
  padding: 0.05em 0.75em;
  margin: 0.5em 0 0.5em -0.75em;
  line-height: 1.4;
  font-size: 1.8em;
}
.player-row .handleBox .names .probie b:before {
  content: "probie";
  background: pink;
  color: purple;
}
.player-row .handleBox .names .founder i:before {
  content: "founder";
  background: orange;
  color: red;
}
.player-row .handleBox .names .rated s:before {
  content: "rated";
  background: lavender;
  color: blue;
}
.player-row .handleBox .names .member u:before {
  content: "member";
  background: yellow;
  color: green;
}
.player-row .handleBox .names .handle a {
  text-decoration: none;
  color: black;
}
.player-row .handleBox .names .handle a big:after {
  content: "\ffeb";
  margin-left: 0.25em;
}
.player-row .actionBox {
  padding: 0;
}
.row-8310647 b.name,
.row-8310647 .names big {
  background-color: rgba(233, 118, 202, 0.75) !important;
}
.row-8310647 .md-primary {
  background-color: #b285b8 !important;
}
.row-7037048 b.name,
.row-7037048 .names big {
  background-color: rgba(233, 149, 118, 0.75) !important;
}
.row-7037048 .md-primary {
  background-color: #b29592 !important;
}
.row-7666141 b.name,
.row-7666141 .names big {
  background-color: rgba(202, 233, 118, 0.75) !important;
}
.row-7666141 .md-primary {
  background-color: #9ec092 !important;
}
.row-3892477 b.name,
.row-3892477 .names big {
  background-color: rgba(118, 233, 149, 0.75) !important;
}
.row-3892477 .md-primary {
  background-color: #6ac0a0 !important;
}
.row-8162353 b.name,
.row-8162353 .names big {
  background-color: rgba(118, 202, 233, 0.75) !important;
}
.row-8162353 .md-primary {
  background-color: #6ab0c7 !important;
}
.row-9856625 b.name,
.row-9856625 .names big {
  background-color: rgba(149, 118, 233, 0.75) !important;
}
.row-9856625 .md-primary {
  background-color: #7d85c7 !important;
}
/* CHARACTER INFO BOX */
.testing .spiffBox {
  background: rgba(0, 0, 255, 0.25);
}
.testing .emblemBox {
  background: rgba(255, 0, 0, 0.25);
}
.testing .nameBox {
  background: rgba(0, 255, 0, 0.25);
}
.testing .levelBox {
  background: rgba(0, 127, 127, 0.25);
}
.testing .progressBox {
  background: rgba(127, 127, 0, 0.25);
}
.testing .actionBox {
  background: rgba(127, 0, 127, 0.25);
}
.spiffBox table,
.spiffBox thead,
.spiffBox tbody,
.spiffBox tfoot,
.spiffBox tr,
.spiffBox th,
.spiffBox td {
  border-collapse: collapse;
  border: none;
  margin: 0;
  padding: 0;
}
.spiffBox {
  width: 100%;
  margin-bottom: 1em;
}
.spiffBox td {
  color: white !important;
}
.spiffBox img,
.spiffBox ul,
.spiffBox ol,
.spiffBox dl {
  float: left;
}
.spiffBox hr {
  border: none;
  height: 0;
}
.spiffBox .emblemBox {
  height: 90px;
  width: 90px;
}
.spiffBox .emblemBox .emblem {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.spiffBox .nameBox {
  padding: 0.5em;
  text-align: left;
  width: 100%;
}
.spiffBox .levelBox {
  padding: 0.5em;
  text-align: right;
}
.spiffBox .levelBox .level {
  font-size: 3em;
}
.spiffBox .progressBox {
  width: 100%;
}
.spiffBox .progressBox .progressBar {
  height: 1em;
  background: rgba(255, 255, 255, 0.25);
}
.spiffBox .progressBox .progressBar .progressIndicator {
  height: 1em;
}
.spiffBox .actionBox {
  width: 100%;
  padding: 0.5em;
}
.prestige {
  color: #fc0;
}
.prestige:before,
.grimoire:before {
  content: "\2605";
  font-size: 0.55em;
  line-height: 1;
  padding: 0 0 1em 0;
  margin: 0;
}
.grimoire:before {
  content: "\2630";
}
