// theme.less

/* variables */
// example:
// @nice-blue: #5B83AD;

// @8310647: #831064;
// @7037048: #703704;
// @7666141: #766614;
// @3892477: #389247;
// @8162353: #816235;

@playerRow: #831064;

@8310647: #831064;
@7037048: spin(@8310647, 60);
@7666141: spin(@8310647, 120);
@3892477: spin(@8310647, 180);
@8162353: spin(@8310647, 240);
@9856625: spin(@8310647, 300);

/* mixins */
// example:
// .border {
//   border-bottom: solid 2px black;
// }

/* operations */
// example:
// color: #888 / 4;
// background-color: @base-color + #111;
// height: 100% / 2 + @filler;

/* functions */
// example:
// @link-color:        #428bca; // sea blue
// @link-color-hover:  darken(@link-color, 10%);

/* generic backgrounds */
.gradient-white-to-trans {
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.75) 50%,rgba(255,255,255,1) 100%);
}


.bg-destiny {
	background-size: 100% auto;
	background-attachment: fixed;
	background: transparent url('../img/destiny/destiny-banners-classes.png') repeat center top;
}
.classes-banners {
	.bg-destiny;
	background-image: url('../img/destiny/destiny-banners-classes.png');
}
.classes-concepts {
	.bg-destiny;
	background-image: url('../img/destiny/destiny-conceptart-characters-classes.jpg');
}
.conceptart-erismorn {
	.bg-destiny;
	background-image: url('../img/destiny/destiny-conceptart-erismorn.jpg');
}
.weapon-hardlight {
	.bg-destiny;
	background-image: url('../img/destiny/destiny-weapon-hardlight.jpg');
}

// md-content.md-default-theme {background: #f00;}
article md-card.md-default-theme {background: rgba(255,255,255,0.9);}
article md-content.md-default-theme {
	background: #9cf;
	// .gradient-white-to-trans();
}

article.cHome {
	.bg-destiny();
	.classes-banners();
}
article.cMembers {
	.bg-destiny();
	.classes-concepts();
}
article.cGames {
	.bg-destiny();
	.conceptart-erismorn();
}
article.cItems {
	.bg-destiny();
	.weapon-hardlight();
}

// md-card-content .player-row {background: @playerRow+#999}
// md-card-content:nth-of-type(2) .player-row {background: spin(@playerRow+#999, 90)}
// md-card-content:nth-of-type(3) .player-row {background: spin(@playerRow+#999, 180)}
// md-card-content:nth-of-type(4) .player-row {background: spin(@playerRow+#999, 270)}

.player-row,
.row-8310647 {
	padding-left:1em;
	border-left: 0.5em solid spin(@playerRow+#666, 0);
	// background: @playerRow+#aaa;
}
.row-7037048 {
	border-left: 0.5em solid spin(@playerRow+#666, 60);
	// background: spin(@playerRow+#aaa, 90);
}
.row-7666141 {
	border-left: 0.5em solid spin(@playerRow+#666, 120);
	// background: spin(@playerRow+#aaa, 180);
}
.row-3892477 {
	border-left: 0.5em solid spin(@playerRow+#666, 180);
	// background: spin(@playerRow+#aaa, 270);
}
.row-8162353 {
	border-left: 0.5em solid spin(@playerRow+#666, 240);
	// background: spin(@playerRow+#aaa, 270);
}
.row-9856625 {
	border-left: 0.5em solid spin(@playerRow+#666, 300);
	// background: spin(@playerRow+#aaa, 270);
}

// .border-8310647 {border-left: 0.5em solid @8310647+#999;}
// .border-7037048 {border-left: 0.5em solid @7037048+#999;}
// .border-7666141 {border-left: 0.5em solid @7666141+#999;}
// .border-3892477 {border-left: 0.5em solid @3892477+#999;}
// .border-8162353 {border-left: 0.5em solid @8162353+#999;}

// .bg-8310647 {background: @8310647+#ccc;}
// .bg-7037048 {background: @7037048+#ccc;}
// .bg-7666141 {background: @7666141+#ccc;}
// .bg-3892477 {background: @3892477+#ccc;}
// .bg-8162353 {background: @8162353+#ccc;}
